# Credenciales de Base de Datos
DB_USER=postgres
DB_PASSWORD=secretpassword
DB_NAME=erpnuevo

# Token de Seguridad
JWT_SECRET=super-secret-key-cambiar-en-produccion

# Dominio al que apuntará el ERP a través del Cloudflare Tunnel
DOMAIN=zapatos.mi-erp-ventas.com

# Token de Cloudflare Tunnel
# (Se obtiene en el dashboard de Cloudflare Zero Trust al crear un túnel local)
CLOUDFLARE_TUNNEL_TOKEN=ey...
